# Data Science Pandas

## Tasks Today:
1) <b>Pandas</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Importing <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Tabular Data Structures <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - from_dict() <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - read_csv() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) <b>In-Class Exercise #1</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Accessing Data <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Indexing <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - df.loc <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - keys() <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Slicing a DataFrame <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Built-In Methods <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - head() <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - tail() <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - shape <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - describe() <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - sort_values() <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - .columns <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) <b>In-Class Exercise #2</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Filtration <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Conditionals <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subsetting <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Column Transformations <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Generating a New Column w/Data <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - User Defined Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Aggregations <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - groupby() <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Type of groupby() <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - mean() <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - groupby() w/Multiple Columns <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - drop_duplicates() <br>

## Pandas <br>

<p>Pandas is a flexible data analysis library built on top of NumPy that is excellent for working with tabular data. It is currently the de-facto standard for Python-based data analysis, and fluency in Pandas will do wonders for your productivity and frankly your resume. It is one of the fastest ways of getting from zero to answer in existence. </p>

<ul>
    <li>Pandas is a Python module, written in C. The Pandas module is a high performance, highly efficient, and high level data analysis library. It allows us to work with large sets of data called dataframes.</li>
    <li>Series is a one-dimensional labeled array capable of holding data of any type (integer, string, float, python objects, etc.)</li>
    <li>Dataframe = Spreadsheet (has column headers, index, etc.)</li>
</ul>

### Importing

In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\python39\lib\site-packages (1.3.1)

WARNING: You are using pip version 21.1.3; however, version 21.2.4 is available.
You should consider upgrading via the 'c:\python39\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: pytz>=2017.3 in c:\python39\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: numpy>=1.17.3 in c:\python39\lib\site-packages (from pandas) (1.21.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\python39\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\python39\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

In [2]:
import pandas as pd
import numpy as np
# always use pd, standard for data science

### Tabular data structures <br>
<p>The central object of study in Pandas is the DataFrame, which is a tabular data structure with rows and columns like an excel spreadsheet. The first point of discussion is the creation of dataframes both from native Python dictionaries, and text files through the Pandas I/O system.</p>

In [3]:
names = ['Alice',
         'Bob',
         'James',
         'Beth', 
         'John', 
         'Sally',
         'Richard', 
         'Lauren',
         'Brandon', 
         'Sabrina']

ages = np.random.randint(18,35,len(names))

my_people = {
    'names': names,
    'ages': ages
}

my_people

{'names': ['Alice',
  'Bob',
  'James',
  'Beth',
  'John',
  'Sally',
  'Richard',
  'Lauren',
  'Brandon',
  'Sabrina'],
 'ages': array([25, 21, 26, 24, 20, 27, 32, 32, 27, 27])}

##### from_dict()

<p>Let's convert our not-so-useful-for-analysis dict into a Pandas dataframe. We can use the from_dict function to do this easily using Pandas:</p>

In [4]:
data = pd.DataFrame.from_dict(my_people)

data

     names  ages
0    Alice    25
1      Bob    21
2    James    26
3     Beth    24
4     John    20
5    Sally    27
6  Richard    32
7   Lauren    32
8  Brandon    27
9  Sabrina    27

##### read_csv()

In [5]:
# pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)

# read_csv() takes 2 parameters
# filename
# separator aka what character is separating the columns within the file

marathon = pd.read_csv('../files/boston_marathon2017_edited.csv', sep=',')
marathon

FileNotFoundError: [Errno 2] No such file or directory: '../files/boston_marathon2017_edited.csv'

### In-Class Exercise #1 - Read in Boston Red Sox Hitting Data <br>
<p>Use the pandas read_csv() method to read in the statistics from the two files yesterday.</p>

In [ ]:
import pandas as pd
import numpy as np
bos17 = pd.read_csv('redsox_2017_hitting.txt', sep=',')
bos18 = pd.read_csv('redsox_2018_hitting.txt', sep=',')

bos18

### Accessing Data <br>

##### Indexing

<p>You can directly select a column of a dataframe just like you would a dict. The result is a Pandas 'Series' object.</p>

In [23]:
data_ages = data['ages']

print(data_ages)

print('\n')
# print out the type of the variable data
# Series
print(f'Type of single column of data: {type(data_ages)}')
# DataFrame
print(f'Type of full data table: {type(data)}')

print('\n')
# DataSeries Index - starting at 0
print(f'Fourth item in our data series @index#3: {data_ages[3]}')

print('\n')
# key first, row index second
print(f"Fourth item in ages column of our data frame: {data['ages'][3]}")

print('\n')

# we can convert our int32s from the data frame or series to other python datatypes if we want
print(float(data_ages[0]))

0    24
1    28
2    34
3    29
4    30
5    21
6    28
7    25
8    25
9    33
Name: ages, dtype: int32


Type of single column of data: <class 'pandas.core.series.Series'>
Type of full data table: <class 'pandas.core.frame.DataFrame'>


Fourth item in our data series @index#3: 29


Fourth item in ages column of our data frame: 29


24.0

In [25]:
print(data)

     names  ages
0    Alice    24
1      Bob    28
2    James    34
3     Beth    29
4     John    30
5    Sally    21
6  Richard    28
7   Lauren    25
8  Brandon    25
9  Sabrina    33

##### df.loc

<p>Along the horizontal dimension, rows of Pandas DataFrames are Row objects. You will notice there is a third column present in the DataFrame - this is the $\textit{index}$. It is automatically generated as a row number, but can be reassigned to a column of your choice using the DataFrame.set_index(colname) method. We can use it to access particular Pandas $\textit{rows}$, which are also Series objects:</p>

In [17]:

# Grab the first row of data -- by the index of the row
first_row = data.loc[0]
print(type(first_row))
print(first_row)
print('\n')

# Getting Multiple values from a df.loc
multiple_rows = data.loc[[0,2,7]]
print(type(multiple_rows))
print(multiple_rows)

print('\n')
# Get names from those multiple rows
multiple_names = data.loc[[0,2,7]]['names']
print(type(multiple_names))
print(multiple_names)

print('\n')
# Using df.loc and producing a Dataframe at the end
specific_people = data.loc[[0,2,7]][['names', 'ages']]
print(type(specific_people))
print(specific_people)

print('\n')
# Reset our specific_people dataframe index based on a column
specific_people_names_index = data.loc[[0,2,7]][['names', 'ages']].set_index('names')
print(specific_people_names_index)
print(f"Accessing a row in our name-indexed dataframe:\n {specific_people_names_index.loc['Lauren']}")

print('\n')
# dataframe.reset_index()
indexes_reset = specific_people.reset_index()
print(indexes_reset)

<class 'pandas.core.series.Series'>
names    Alice
ages        18
Name: 0, dtype: object


<class 'pandas.core.frame.DataFrame'>
    names  ages
0   Alice    18
2   James    22
7  Lauren    18


<class 'pandas.core.series.Series'>
0     Alice
2     James
7    Lauren
Name: names, dtype: object


<class 'pandas.core.frame.DataFrame'>
    names  ages
0   Alice    18
2   James    22
7  Lauren    18


        ages
names
Alice     18
James     22
Lauren    18
Accessing a row in our name-indexed dataframe:
 ages    18
Name: Lauren, dtype: int32


   index   names  ages
0      0   Alice    18
1      2   James    22
2      7  Lauren    18

##### keys()

In [18]:
# Access all of the keys/columns of the dataframe
# Dataframe.keys()

# looking at the bos17 dataframe:
print(bos17.keys())
print(type(bos17.keys()))
print(type(bos17.keys().tolist()))
print(bos17.keys().tolist())

Index(['Rk', 'Pos', 'Name', 'Age', 'G', 'PA', 'AB', 'R', 'H', '2B', '3B', 'HR',
       'RBI', 'SB', 'CS', 'BB', 'SO', 'BA', 'OBP', 'SLG', 'OPS', 'OPS+', 'TB',
       'GDP', 'HBP', 'SH', 'SF', 'IBB'],
      dtype='object')
<class 'pandas.core.indexes.base.Index'>
<class 'list'>
['Rk', 'Pos', 'Name', 'Age', 'G', 'PA', 'AB', 'R', 'H', '2B', '3B', 'HR', 'RBI', 'SB', 'CS', 'BB', 'SO', 'BA', 'OBP', 'SLG', 'OPS', 'OPS+', 'TB', 'GDP', 'HBP', 'SH', 'SF', 'IBB']

##### Slicing a DataFrame

In [19]:
# same exact concept as slicing a list in python
# dataframe[starting_index : stop_before_index : step]
data[1:8:2]

    names  ages
1     Bob    26
3    Beth    27
5   Sally    26
7  Lauren    18

### Built-In Methods <br>

<p>These are methods that are frequently used when using Pandas to make your life easier. It is possible to spend a whole week simply exploring the built-in functions supported by DataFrames in Pandas. Here however, we will simply highlight a few ones that might be useful, to give you an idea of what's possible out of the box with Pandas:</p>

##### head()

In [20]:
# DataFrame.head()  -- Accepts integer parameter(gives access to more rows) default=5
bos17.head(7)

,Rk,Pos,Name,Age,G,PA,AB,R,H,2B,...,OBP,SLG,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB
0,1,C,Christian Vazquez,26,99,345,324,43,94,18,...,0.330,0.404,0.735,91,131,14,3,0,1,0
1,2,1B,Mitch Moreland,31,149,576,508,73,125,34,...,0.326,0.443,0.769,99,225,14,6,0,5,6
2,3,2B,Dustin Pedroia,33,105,463,406,46,119,19,...,0.369,0.392,0.760,100,159,11,2,2,4,4
3,4,SS,Xander Bogaerts,24,148,635,571,94,156,32,...,0.343,0.403,0.746,95,230,17,6,0,2,6
4,5,3B,Rafael Devers,20,58,240,222,34,63,14,...,0.338,0.482,0.819,111,107,5,0,0,0,3
5,6,LF,Andrew Benintendi,22,151,658,573,84,155,26,...,0.352,0.424,0.776,102,243,16,6,1,8,7
6,7,CF,Jackie Bradley Jr.,27,133,541,482,58,118,19,...,0.323,0.402,0.726,89,194,8,9,0,2,4

##### tail()

In [21]:
# DataFrame.tail()  -- Accepts integer parameter(gives access to more rows)
bos17.tail()

,Rk,Pos,Name,Age,G,PA,AB,R,H,2B,...,OBP,SLG,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB
18,19,IF,Marco Hernandez,24,21,60,58,7,16,3,...,0.300,0.328,0.628,65,19,0,1,0,0,0
19,20,UT,Rajai Davis,36,17,38,36,7,9,2,...,0.289,0.306,0.595,56,11,2,1,0,0,0
20,21,UT,Steve Selsky,27,8,9,9,0,1,1,...,0.111,0.222,0.333,-16,2,0,0,0,0,0
21,22,UT,Blake Swihart,25,6,7,5,1,1,0,...,0.429,0.200,0.629,74,1,0,0,0,0,0
22,23,2B,Chase d'Arnaud,30,2,1,1,2,1,0,...,1.000,1.000,2.000,428,1,0,0,0,0,0

##### shape

In [22]:
# The dataframe has a shape property, just like a NumPy matrix. 
# print(df.shape) -- DataFrame.shape -- No Parameter
# an attribute not a method -> no parenthesis
# gives back a tuple of (rows, columns)
marathon.shape

NameError: name 'marathon' is not defined

##### describe() <br>
<p>Probably one of the most important methods to understand...</p>

In [102]:
# Collect summary statistics in one line
# DataFrame.describe() -- Accepts parameters (include[='all'], exclude[='none'])

# describe you can select data types to describe, not column names
bos17.describe(include='all')

# select only some columns to describe - first create a smaller dataframe with just those columns
bos17[['BA', 'HR', 'AB']].describe(percentiles=[.50, .90])

              BA         HR          AB
count  23.000000  23.000000   23.000000
mean    0.278435   7.304348  245.521739
std     0.163040   8.309003  209.032157
min     0.111000   0.000000    1.000000
50%     0.250000   5.000000  171.000000
90%     0.292400  21.600000  558.400000
max     1.000000  24.000000  628.000000

##### sort_values()

In [23]:
# Sort based on many labels, with left-to-right priority
# sorted_data = data.sort_values('ages').reset_index()

# DataFrame.sort_values('key')

most_hrs = bos17[['Rk', 'Pos', 'Name', 'G', 'AB', 'HR', 'BA']].sort_values('HR', ascending=False).head()
most_hrs

   Rk Pos                Name    G   AB  HR     BA
7   8  RF        Mookie Betts  153  628  24  0.264
8   9  DH      Hanley Ramirez  133  496  23  0.242
1   2  1B      Mitch Moreland  149  508  22  0.246
5   6  LF   Andrew Benintendi  151  573  20  0.271
6   7  CF  Jackie Bradley Jr.  133  482  17  0.245

##### .columns

In [108]:
# will show all cols headers
# DataFrame.columns -- has no parameters

print(bos17.columns)
print(f'\n The type of bos17.columns: {type(bos17.columns)}')

print(bos17.keys())
print(f'\n The type of bos17.keys(): {type(bos17.keys())}')

Index(['Rk', 'Pos', 'Name', 'Age', 'G', 'PA', 'AB', 'R', 'H', '2B', '3B', 'HR',
       'RBI', 'SB', 'CS', 'BB', 'SO', 'BA', 'OBP', 'SLG', 'OPS', 'OPS+', 'TB',
       'GDP', 'HBP', 'SH', 'SF', 'IBB'],
      dtype='object')

 The type of bos17.columns: <class 'pandas.core.indexes.base.Index'>
Index(['Rk', 'Pos', 'Name', 'Age', 'G', 'PA', 'AB', 'R', 'H', '2B', '3B', 'HR',
       'RBI', 'SB', 'CS', 'BB', 'SO', 'BA', 'OBP', 'SLG', 'OPS', 'OPS+', 'TB',
       'GDP', 'HBP', 'SH', 'SF', 'IBB'],
      dtype='object')

 The type of bos17.keys(): <class 'pandas.core.indexes.base.Index'>

### In-Class Exercise #2 - Describe & Sort Boston Red Sox Hitting Data <br>
<p>Take the data that you read in earlier from the Red Sox csv's and use the describe method to understand the data better. Compare the two years and decide which team is having the better year. Then sort the values based on Batting Average.</p>

In [24]:
bos17[['Rk', 'Pos', 'Name', 'G', 'AB', 'HR', 'BA']].sort_values('HR', ascending=False).head()
bos17

,Rk,Pos,Name,Age,G,PA,AB,R,H,2B,...,OBP,SLG,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB
0,1,C,Christian Vazquez,26,99,345,324,43,94,18,...,0.330,0.404,0.735,91,131,14,3,0,1,0
1,2,1B,Mitch Moreland,31,149,576,508,73,125,34,...,0.326,0.443,0.769,99,225,14,6,0,5,6
2,3,2B,Dustin Pedroia,33,105,463,406,46,119,19,...,0.369,0.392,0.760,100,159,11,2,2,4,4
3,4,SS,Xander Bogaerts,24,148,635,571,94,156,32,...,0.343,0.403,0.746,95,230,17,6,0,2,6
4,5,3B,Rafael Devers,20,58,240,222,34,63,14,...,0.338,0.482,0.819,111,107,5,0,0,0,3
5,6,LF,Andrew Benintendi,22,151,658,573,84,155,26,...,0.352,0.424,0.776,102,243,16,6,1,8,7
6,7,CF,Jackie Bradley Jr.,27,133,541,482,58,118,19,...,0.323,0.402,0.726,89,194,8,9,0,2,4
7,8,RF,Mookie Betts,24,153,712,628,101,166,46,...,0.344,0.459,0.803,108,288,9,2,0,5,9
8,9,DH,Hanley Ramirez,33,133,553,496,58,120,24,...,0.320,0.429,0.750,94,213,15,6,0,0,8
9,10,C,Sandy Leon,28,85,301,271,32,61,14,...,0.290,0.354,0.644,68,96,5,1,1,3,1
10,11,UT,Chris Young,33,90,276,243,30,57,12,...,0.322,0.387,0.709,85,94,4,2,0,1,0
11,12,3B,Deven Marrero,26,71,188,171,32,36,9,...,0.259,0.333,0.593,54,57,8,0,3,2,0
12,13,2B,Eduardo Nunez,30,38,173,165,23,53,12,...,0.353,0.539,0.892,128,89,3,2,0,0,0
13,14,2B,Brock Holt,29,64,164,140,20,28,6,...,0.305,0.243,0.548,47,34,3,3,0,2,0
14,15,IF,Josh Rutledge,28,37,118,107,10,24,2,...,0.297,0.262,0.558,49,28,1,2,0,0,0
15,16,3B,Pablo Sandoval,30,32,108,99,10,21,2,...,0.269,0.354,0.622,61,35,4,0,0,1,0
16,17,UT,Sam Travis,23,33,83,76,13,20,6,...,0.325,0.342,0.667,75,26,2,1,0,0,0
17,18,UT,Tzu-Wei Lin,23,25,66,56,7,15,0,...,0.369,0.339,0.709,88,19,0,0,1,0,0
18,19,IF,Marco Hernandez,24,21,60,58,7,16,3,...,0.300,0.328,0.628,65,19,0,1,0,0,0
19,20,UT,Rajai Davis,36,17,38,36,7,9,2,...,0.289,0.306,0.595,56,11,2,1,0,0,0
20,21,UT,Steve Selsky,27,8,9,9,0,1,1,...,0.111,0.222,0.333,-16,2,0,0,0,0,0
21,22,UT,Blake Swihart,25,6,7,5,1,1,0,...,0.429,0.200,0.629,74,1,0,0,0,0,0
22,23,2B,Chase d'Arnaud,30,2,1,1,2,1,0,...,1.000,1.000,2.000,428,1,0,0,0,0,0

### Filtration <br>
<p>Let's look at how to filter dataframes for rows that fulfill a specific conditon.</p>

##### Conditionals

In [ ]:
# Conditional boolean dataframe

##### Subsetting

In [ ]:
# exactly like numpy

### Column Transformations <br>
<p>Rarely, if ever, will the columns in the original raw dataframe read from CSV or database table be the ones you actually need for your analysis. You will spend lots of time constantly transforming columns or groups of columns using general computational operations to produce new ones that are functions of the old ones. Pandas has full support for this: Consider the following dataframe containing membership term and renewal number for a group of customers:</p>

In [ ]:
# Generate some fake data
customer_id = np.random.randint(1000,1100, 10)
renewal_nbr = np.random.randint(0,10,10)
customer_dict = {1: 0.5, 0: 1}
terms_in_years = [customer_dict[key] for key in np.random.randint(0,2,10)]

random_data = {
    'customer_id': customer_id,
    'renewal_nbr': renewal_nbr,
    'term_in_years': terms_in_years
}

customers = pd.DataFrame.from_dict(random_data)
customers

##### Generating a New Column w/Data

In [ ]:
# DataFrame['key'] = Some Calculation from our DataFrame Columns

##### User Defined Function

<p>If what you want to do to a column that can't be represented by simple mathematical operations, you can write your own $\textit{user defined function}$ with the full customizability available in Python and any external Python packages, then map it directly onto a column. Let's add some ages to our customer dataframe, and then classify them into our custom defined grouping scheme:</p>

In [ ]:
# use .apply to map over dataframe

# Create a new column for ages

<p>As a last example I'll show here how you would use a lambda function to create a UDF that depends on $\textit{more than one}$ column:</p>

<li>UDF = User Defined Function</li>

In [ ]:
#Axis for apply can only be 1 or 0 -- 1 being the X axis 0 being the Y axis

### In-Class Exercise #3 - Create Your Own UDF <br>
<p>Using the Boston Red Sox data, create your own UDF which creates a new column called 'All-Star' and puts every player with either a batting average over .280 or an on base percentage of over .360 with a result of 'Yes' in the column and 'No' if not.</p>

In [26]:
"""
    Name  BA OBP AllStar
    --------------------
    Name .233 .360 Yes
    Name .150 .288 No
"""

def get_All_Star(row):
    ba=row['BA']
    obp= row ['OBP']
    
    if ba > .280 or obp > .360:
        return True
    else:
        return False

    bos17['AllStar']= bos17.apply(get_All_Star, axis=1)
    print

,Rk,Pos,Name,Age,G,PA,AB,R,H,2B,...,OBP,SLG,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB
0,1,C,Christian Vazquez,26,99,345,324,43,94,18,...,0.330,0.404,0.735,91,131,14,3,0,1,0
1,2,1B,Mitch Moreland,31,149,576,508,73,125,34,...,0.326,0.443,0.769,99,225,14,6,0,5,6
2,3,2B,Dustin Pedroia,33,105,463,406,46,119,19,...,0.369,0.392,0.760,100,159,11,2,2,4,4
3,4,SS,Xander Bogaerts,24,148,635,571,94,156,32,...,0.343,0.403,0.746,95,230,17,6,0,2,6
4,5,3B,Rafael Devers,20,58,240,222,34,63,14,...,0.338,0.482,0.819,111,107,5,0,0,0,3
5,6,LF,Andrew Benintendi,22,151,658,573,84,155,26,...,0.352,0.424,0.776,102,243,16,6,1,8,7
6,7,CF,Jackie Bradley Jr.,27,133,541,482,58,118,19,...,0.323,0.402,0.726,89,194,8,9,0,2,4
7,8,RF,Mookie Betts,24,153,712,628,101,166,46,...,0.344,0.459,0.803,108,288,9,2,0,5,9
8,9,DH,Hanley Ramirez,33,133,553,496,58,120,24,...,0.320,0.429,0.750,94,213,15,6,0,0,8
9,10,C,Sandy Leon,28,85,301,271,32,61,14,...,0.290,0.354,0.644,68,96,5,1,1,3,1
10,11,UT,Chris Young,33,90,276,243,30,57,12,...,0.322,0.387,0.709,85,94,4,2,0,1,0
11,12,3B,Deven Marrero,26,71,188,171,32,36,9,...,0.259,0.333,0.593,54,57,8,0,3,2,0
12,13,2B,Eduardo Nunez,30,38,173,165,23,53,12,...,0.353,0.539,0.892,128,89,3,2,0,0,0
13,14,2B,Brock Holt,29,64,164,140,20,28,6,...,0.305,0.243,0.548,47,34,3,3,0,2,0
14,15,IF,Josh Rutledge,28,37,118,107,10,24,2,...,0.297,0.262,0.558,49,28,1,2,0,0,0
15,16,3B,Pablo Sandoval,30,32,108,99,10,21,2,...,0.269,0.354,0.622,61,35,4,0,0,1,0
16,17,UT,Sam Travis,23,33,83,76,13,20,6,...,0.325,0.342,0.667,75,26,2,1,0,0,0
17,18,UT,Tzu-Wei Lin,23,25,66,56,7,15,0,...,0.369,0.339,0.709,88,19,0,0,1,0,0
18,19,IF,Marco Hernandez,24,21,60,58,7,16,3,...,0.300,0.328,0.628,65,19,0,1,0,0,0
19,20,UT,Rajai Davis,36,17,38,36,7,9,2,...,0.289,0.306,0.595,56,11,2,1,0,0,0
20,21,UT,Steve Selsky,27,8,9,9,0,1,1,...,0.111,0.222,0.333,-16,2,0,0,0,0,0
21,22,UT,Blake Swihart,25,6,7,5,1,1,0,...,0.429,0.200,0.629,74,1,0,0,0,0,0
22,23,2B,Chase d'Arnaud,30,2,1,1,2,1,0,...,1.000,1.000,2.000,428,1,0,0,0,0,0

### Aggregations <br>
<p>The raw data plus some transformations is generally only half the story. Your objective is to extract actual insights and actionable conclusions from the data, and that means reducing it from potentially billions of rows to some summary statistics via aggregation functions.</p>

##### groupby() <br>
<p>The .groupby() function is in some ways a 'master' aggregation.</p> 

<p>Data tables will usually reserve one column as a primary key - that is, a column for which each row has a unique value. This is to facilitate access to the exact rows of a data table that a user wants to view. The other columns will often have repeated values, such as the age groups in the above examples. We can use these columns to explore the data using the Pandas API:</p>

In [ ]:
# also introducing .count() here, exact same as to how it's used in SQL

# Using the groupby with the column intact as a column/key
# customers.groupby('age_group', as_index = False).count()[['customer_id','age_group']]

##### Type of groupby()

<p>The result is a new dataframe, the columns of which all contain the counts of the grouped field. Notice the type of a grouped dataframe:</p>

In [ ]:
print(type(customers), 'Regular Data Frame')
print(f'\n Type of Group By for Customer.GroupBy: {type(customers.groupby("age_group"))}')

<p>This is because simply grouping data doesn't quite make sense without an aggregation function like count() to pair with. In this case, we're counting occurances of the grouped field, but that's not all we can do. We can take averages, standard deviations, mins, maxes and much more! Let's see how this works a bit more:</p>

##### mean()

In [ ]:
# mean = average

##### groupby() w/Multiple Columns

<p>We end up with the average age of the groups in the last column, the average tenure in the tenure column, and so on and so forth. You can even split the groups more finely by passing a list of columns to group by:</p>

##### drop_duplicates()

<p>Drops all duplicates from the current dataframe</p>

In [ ]:
customers

In [ ]:
# Send customer data into a CSV file
customers_copy.to_csv('../files/customers.csv')

<p>Thus the groupby operation allows you to rapidly make summary observations about the state of your entire dataset at flexible granularity. In one line above, we actually did something very complicated - that's the power of the dataframe. In fact, the process often consists of several iterative groupby operations, each revealing greater insight than the last - if you don't know where to start with a dataset, try a bunch of groupbys!</p>

### Homework Excersise #1 - Find the Total Number of Runs and RBIs for the Red Sox <br>
<p>Get total number of home runs and rbi's</p>

In [6]:
# step 1: Add a new column with the key 'Team' and all column values should be 'BOS'

# step 2: Group by the 'Team' column and get total home runs and rbi's

# Produce data for both 2017 and 2018 (ie print both seperated by a newline character \n)

"""
TEAM    HR   RBI
----------------
BOS     144  538
"""
bos17.groupby[Team]

NameError: name 'bos17' is not defined

## Find the average age of runners in the 2017 Boston Marathon

In [27]:
BostonMarathon = pd.read_csv('boston_marathon2017_edited.csv')
BostonMarathon.mean()[['Age']]

FileNotFoundError: [Errno 2] No such file or directory: 'boston_marathon2017_edited.csv'